<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>管理员后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bluth Company">
    <link rel="shortcut icon" href="assets/ico/favicon.html">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/alertify.css" rel="stylesheet">
    <link rel="Favicon Icon" href="favicon.ico">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="logo">
                    <img src="assets/img/logo.png" alt="Realm Admin Template">
                </div>
                <a class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="btn btn-navbar slide_menu_left visible-tablet">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="top-menu visible-desktop">
                    <!--<ul class="pull-left">-->
                    <!--<li><a id="messages" data-notification="2" href="#"><i class="icon-envelope"></i> Messages</a></li>-->
                    <!--<li><a id="notifications" data-notification="3" href="#"><i class="icon-globe"></i> Notifications</a></li>-->
                    <!--</ul>-->
                    <ul class="pull-right">
                        <li><a href="/login"><i class="icon-off"></i> 注销</a></li>
                    </ul>
                </div>

                <div class="top-menu visible-phone visible-tablet">
                    <ul class="pull-right">
                        <li><a title="link to View all Messages page, no popover in phone view or tablet" href="#"><i
                                class="icon-envelope"></i></a></li>
                        <li><a title="link to View all Notifications page, no popover in phone view or tablet" href="#"><i
                                class="icon-globe"></i></a></li>
                        <li><a href="login.html"><i class="icon-off"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">

        <!-- Side menu -->
        <div class="sidebar-nav nav-collapse collapse">
            <div class="user_side clearfix">
                <!--<img src="assets/img/odinn.jpg" alt="Odinn god of Thunder">-->
                <h5>Welcome!<br> 000001</h5>
                <!--<a href="#"><i class="icon-cog"></i> Settings</a>-->
            </div>
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle active b_F79999" href="/managerIndex"><i class="icon-bar-chart"></i>
                            <span>首页</span></a>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion2"
                           href="#collapse1"><i class="icon-magic"></i> <span>查看统计</span></a>
                    </div>
                    <div id="collapse1" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <a class="accordion-toggle" href="/statisticsForInstitution"><i class="icon-reorder"></i> 机构统计</a>
                            <a class="accordion-toggle" href="/statisticsForTrainee"><i class="icon-user"></i> 学员统计</a>
                            <a class="accordion-toggle" href="/statisticsForAll"><i class="icon-tasks"></i> 财务情况</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle b_F6F1A2" href="tasks.html"><i class="icon-bullhorn"></i>
                            <span>审批机构</span></a>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle b_C1F8A9" href="analytics.html"><i class="icon-money"></i>
                            <span>支付结算</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Side menu -->

        <!-- Main window -->
        <div class="main_container" id="dashboard_page">

            <!-- CHARTS  -->
            <div class="row-fluid" style="    margin-bottom: 50px;">
                <div class="widget widget-padding span12">
                    <div class="widget-header">
                        <i class="icon-credit-card"></i>
                        <h5>各VIP段销售额与亏损金额</h5>
                        <div class="widget-buttons">
                            <a href="javascript:void(0)" class="collapse" data-collapsed="false"><i
                                    data-title="Collapse" class="icon-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="widget-body clearfix">
                        <div style="height:400px;" id="volume" class="widget-analytics-large"></div>
                    </div>
                </div>
            </div>
            <div class="row-fluid" style="    margin-bottom: 50px;">
                <div class="widget widget-padding span12">
                    <div class="widget-header">
                        <i class="icon-credit-card"></i>
                        <h5>近一个月各年龄段交易额</h5>
                        <div class="widget-buttons">
                            <a href="javascript:void(0)" class="collapse" data-collapsed="false"><i
                                    data-title="Collapse" class="icon-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="widget-body clearfix">
                        <div style="height:400px;" id="age" class="widget-analytics-large"></div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="widget span6">
                    <div class="widget-header">
                        <i class="icon-credit-card"></i>
                        <h5>近1月按性别划分交易额占比</h5>
                        <div class="widget-buttons">
                            <a href="javascript:void(0)" class="collapse" data-collapsed="false"><i
                                    data-title="Collapse" class="icon-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="widget-body clearfix">
                        <div style="height:274px;" id="sexPie" class="widget-analytics-large"></div>
                    </div>
                </div>
                <div class="widget span6">
                    <div class="widget-header">
                        <i class="icon-credit-card"></i>
                        <h5>近1月按年龄划分交易额占比</h5>
                        <div class="widget-buttons">
                            <a href="javascript:void(0)" class="collapse" data-collapsed="false"><i
                                    data-title="Collapse" class="icon-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="widget-body clearfix">
                        <div style="height:274px;" id="agePie" class="widget-analytics-large"></div>
                    </div>
                </div>
            </div> <!-- /row-fluid -->
        </div>

        <!-- /Main window -->

    </div><!--/.fluid-container-->
</div><!-- wrap ends-->


<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="assets/js/raphael-min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<script type="text/javascript" src='assets/js/sparkline.js'></script>
<script type="text/javascript" src='assets/js/morris.min.js'></script>
<script type="text/javascript" src="assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.facybox.js"></script>
<script type="text/javascript" src="assets/js/jquery.alertify.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.knob.js"></script>
<script type='text/javascript' src='assets/js/fullcalendar.min.js'></script>
<!--<script type='text/javascript' src='assets/js/jquery.gritter.min.js'></script>-->
<!--<script type="text/javascript" src="assets/js/realm.js"></script>-->
<script type="text/javascript" src="assets/js/jquery.slimscroll.min.js"></script>
<script src="echarts/echarts.common.min.js"></script>
<script th:inline="javascript">
    var volumeChart = echarts.init(document.getElementById('volume'));
    var data = geVipData();
    volumeChart.setOption({
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
            feature: {
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        legend: {
            data: data.levelData,
        },
        xAxis: [
            {
                type: 'category',
                data: data.levelData,
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                name: '交易额',
                type: 'value',
                axisLabel: {
                    formatter: '{value} 元'
                }
            }
        ],
        series: [{
            name:'交易额',
            type: 'bar',
            data:data.profitData
        },{
            name:'净利润',
            type: 'line',
            //yAxisIndex: 1,
            data:data.saleData
        }],
    });

    function geVipData() {
        var statisticByTimeVO = [[${statisticsByVIPS}]];
        var levelData = [];
        var profitData = [];
        var saleData = [];
        for (var i = 0; i < statisticByTimeVO.length; i++) {
            levelData.push(statisticByTimeVO[i].level);
            profitData.push(statisticByTimeVO[i].profit);
            saleData.push(statisticByTimeVO[i].sale);

        }
        return {
            levelData:levelData,
            profitData:profitData,
            saleData:saleData
        };
    }
    var ageChart = echarts.init(document.getElementById('age'));
    var data = getAgeData();
    ageChart.setOption({
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
            feature: {
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        legend: {
            data: data.ageData,
        },
        xAxis: [
            {
                type: 'category',
                data: data.ageData,
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} 元'
                }
            }
        ],
        series: {
            type: 'line',
            data: data.profitData
        }
    });

    function getAgeData() {
        var statisticsByAges = [[${statisticsByAges}]];
        var ageData = [];
        var profitData = [];
        var pieData = []
        for (var i = 0; i < statisticsByAges.length; i++) {
            ageData.push(statisticsByAges[i].age);
            profitData.push(statisticsByAges[i].profit);
            pieData.push({
                value: statisticsByAges[i].profit,
                name:statisticsByAges[i].age
                }
            )
        }

        return {
            ageData: ageData,
            profitData: profitData,
            pieData:pieData
        };
    }
    var sexChart = echarts.init(document.getElementById('sexPie'));
    sexChart.setOption({
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['男','女','未知']
        },
        series : [
            {
                name: '交易额',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {value:10239, name:'男'},
                    {value:9640, name:'女'},
                    {value:1049, name:'未知'},

                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    })
    var agePieChart = echarts.init(document.getElementById('agePie'));
    agePieChart.setOption({
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: data.ageData
        },
        series : [
            {
                name: '交易额',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:data.pieData,
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    })
</script>
</body>
</html>
