<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>超时</title>
    <!-- custom-theme -->
    <meta http-equiv="refresh" content="3;URL=http://localhost:8080/index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Tabs Payment Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="css/pay.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/creditly.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/easy-responsive-tabs.css">
    <script src="js/jquery.min.js"></script>
    <!-- font-awesome-icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Mirza:400,500,600,700&amp;subset=arabic,latin-ext" rel="stylesheet">
</head>
<body>
<div class="main">
    <h1>订单超时，预定失败，将在5秒后返回首页</h1>
</div>
<!-- credit-card -->
<script type="text/javascript" src="js/creditly.js"></script>
<!-- //credit-card -->
<!-- tabs -->
<script src="js/easy-responsive-tabs.js"></script>
<!-- //tabs -->

</body>
</html>